<?xml version="1.0" encoding="utf-8"?>
<configuration>
<configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
        <section name="BSA_Browser.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
    </sectionGroup>
</configSections>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/></startup><userSettings>
        <BSA_Browser.Properties.Settings>
            <setting name="LastUnpackPath" serializeAs="String">
                <value>C:\</value>
            </setting>
            <setting name="RecentFiles" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema" />
                </value>
            </setting>
            <setting name="RecentFiles_MaxFiles" serializeAs="String">
                <value>30</value>
            </setting>
            <setting name="UpdateSettings" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="SortDesc" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="SortType" serializeAs="String">
                <value>FilePath</value>
            </setting>
            <setting name="SortArchiveDirectories" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="SearchUseRegex" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="OpenArchiveDialog" serializeAs="String">
                <value />
            </setting>
            <setting name="RetrieveRealSize" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="EncodingCodePage" serializeAs="String">
                <value>65000</value>
            </setting>
            <setting name="CheckForUpdates" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Icons" serializeAs="String">
                <value>FileList, FolderTree</value>
            </setting>
            <setting name="BuiltInPreviewing" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>.dds</string>
                        <string>.bmp</string>
                        <string>.png</string>
                        <string>.jpg</string>
                        <string>.txt</string>
                        <string>.bat</string>
                        <string>.xml</string>
                        <string>.lst</string>
                        <string>.psc</string>
                        <string>.json</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="ReplaceGNFExt" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="MatchLastWriteTime" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CompareFilterUnique" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="CompareFilterDifferent" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="CompareFilterIdentical" serializeAs="String">
                <value>True</value>
            </setting>
        </BSA_Browser.Properties.Settings>
    </userSettings>
</configuration>
